html, body{
  height:100%;
  margin:0;
  width: 100%;
  display: flex;
  justify-content: center;
  
}

:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
  }

  .login,
  .image {
    min-height: 532px !important;
  }
  
  .login-heading {
    font-family: Karla;
    font-style: italic;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */


    color: #FFFFFF;

  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    border-radius: 2rem;
  }
  
  
  /* Fallback for Edge
  -------------------------------------------------- */
  
  .form-login{
    width: 814px;
    height: 532px;
    margin: auto;
  }

  .fondo-login{
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #F4F4F4;
  }

  .login{
    background: radial-gradient(50% 50% at 50% 50%, #1B1C23 0%, #16192E 100%);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    flex-wrap: wrap;
  }

  .bg-image {
    background: #FAFAFA;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .cont-der{
    padding: 0 !important;
  }

  .logo-login{
    width: 327px;
    height: 95px;
    
  }

  .linea-login{
    border-top: 1px solid #29B390;
    width: 298px;
    height: 1px;
    
  }

  .div-grandote{
    margin-top: auto;
    margin-bottom: auto;
    width: 327px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 75%;
  }

  .parrafo-login{
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: rgba(29, 33, 32, 0.81);

  }

  .libro-login{
    width: 222px;
    height: 133px;
  }

  .footer-login{
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;

    margin-bottom: -100px;
    margin-left: auto;
    margin-right: auto;
  }

  .link-login{
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;

    color: #29B390;
  }

  .button-login{
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    width: 208px;
    height: 46px;

    background-color: transparent;

    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    color: #FFFFFF;

    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .form-label-group label{
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
  }

  .form-label-group input{
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    background-color:  transparent;
    color: #FFFFFF;
  }

  .form-label-group input:focus{
    background-color: transparent;
  }

  .form-label-group input:active{
    background-color: transparent;
  }

    
  /* input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus
  input:-webkit-autofill
  {
     -webkit-box-shadow: 0 0 0px 1000px #16192E inset!important;
     color: #FFFFFF !important;
  } */

  
  .centered {
    width: 100%;
    height: 90px;
    margin: auto;
  }
  
.group {
  width: 100%;
  height: 61.832px;
  overflow: hidden;
  position: relative;
}

label {
  position: absolute;
  top: 20.6106666667px;
  color: #29B390;
  font: 400 20.6106666667px Karla;
  cursor: text;
  transition: .25s ease;
}

input {
  display: block;
  width: 100%;
  padding-top: 20.6106666667px;
  border: none;
  border-radius: 0;
  color: white;
  background: transparent;
  font-size: 20.6106666667px;
  transition: .3s ease;
}
input:valid ~ label {
  top: 0;
  font: 700 12.3664px Roboto;
  color: #29B390;
}
input:focus {
  outline: none;
}
input:focus ~ label {
  top: 0;
  font: 700 12.3664px Karla;
  color: #29B390;
}
input:focus ~ .bar:before {
  transform: translateX(0);
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #16192E inset;
  -webkit-text-fill-color: white !important;
}

.bar {
  background: rgba(255, 255, 255, 0.5);
  content: '';
  width: 309.16px;
  height: 2.0610666667px;
  transition: .3s ease;
  position: relative;
}
.bar:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 150%;
  background: #29B390;
  transform: translateX(-100%);
}

::selection {
  background: rgba(33, 150, 243, 0.3);
}

.error-login{
  font-family: Karla;
  color: #29B390;
  font-size: 12px;
}

.container-logo{
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.container-logo img{
  width: 300px;
}

@media (max-width: 900px) {
  .cont-der{
    height: 100% !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
  }

  .container-fluid{
    height: 100% !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
    position: relative !important;
  }

  .form-login,
  .login{
    height: 100% !important;
  }
  .no-gutter{
    height: 100% !important;
    display: flex !important;
    flex-wrap: wrap !important;

  }
  .container{
    padding-left: 30px !important;
  }

  .footer-login{
    margin-bottom: 0px !important;
  }
  body,
  .fondo-login{
    background-color: #16192E !important;
  }
}

@media (max-width: 991px) {
  .logo-login{
    width: 200px !important;
  }

  .parrafo-login{
    width: 200px !important;
  }

  .linea-login{
    width: 250px !important;
  }
}

@media (max-width: 767px) {
  .container-logo{
    display: flex !important;
  }
  .container{
    width: 640px !important;
  }
  .login{
    flex-wrap: wrap;
  }
  .footer-login{
    width: 250px;
  }
  .centered,
  .login-heading{
    width: 380px;
  }
  .login-heading{
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 579px) {
  .container-logo{
    display: flex !important;
  }
  .container{
    width: 100% !important;
  }
  .login{
    flex-wrap: wrap;
  }
  .footer-login{
    width: auto;
  }
  .centered,
  .login-heading{
    width: 100% !important;
  }
  .group{
    width: fit-content;
  }
  .centered{
    width: 100% !important;
    height: 90px !important;
    margin: auto !important;
  }
  .login-heading{
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 375px) {
  .centered,
  .login-heading,
  .error-login{
    padding-left: 15px !important;
  }
}

@media (max-width: 414px) {
  .centered,
  .login-heading,
  .error-login{
    padding-left: 30px ;
  }
}

@media (max-width: 321px) {
  .centered,
  .login-heading,
  .error-login{
    padding-left: 4px !important;
  }
  .container-logo img{
    width: 200px !important;
  }
  .login-heading,
  .centered{
    width: 300px !important;
  }
  .group{
    width: 290px !important;
  }
}

@media (max-width: 360px) {
  .centered,
  .login-heading,
  .error-login{
    padding-left: 10px ;
  }
  .container-logo img{
    width: 300px ;
  }
}