.blog_encabezado{
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    width: 100%;
    height: 40px;
    color: #000000;
    vertical-align: middle; 
    margin-bottom: 50px;
}

.blog_barra_busqueda{
    width: 350px;
    height: 40px;
    border: solid 1px;
    border-color:#29B390;
    border-radius: 6px;
    display: flex;
    margin-top: -30px;
    margin-right: 5%;
    margin-left: auto;
}
.busqueda_clasificacion{
    width:130px;
    color: rgba(29, 33, 32, 0.63);
    background: #EBEBEB;
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border:0;
}
#busqueda_busqueda{
    border-radius: 0px;
    width: 190px;
    border: 0;
}
.busqueda_boton{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border:none;
    background-color: #29B390;;
    width: 40px !important;
    display: flex;
    align-items: center;
    justify-content:center;
    color: white;  
}
.blogs_barra{
    width: 100%;
    display: flex;
}
#carruselBlogs_blogs{
    width:100%;
    background: transparent;
    margin-bottom: 50px;
}
.img_carrusel_blogs{
    height: 400px;
}

.banner_blog_fecha_blogs{
    width: 100%;
    text-align: right;
    color: white;
    font-size: 24px;
    margin: auto;
    font-family: "Karla";
}

.banner_blog_titulo_blogs{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 26px;
    margin: auto;
    margin-bottom:40px;
    font-family: "Karla";
}

.blogs_vista{
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    
}
.blog_item{
    width: 40%;
    margin-bottom: 50px;
    display:flex;
    flex-direction: column;
    transition: ease-in 0.5s;
}
.blog_item_imagen{
    width: 100%;
    height: 224px;
    display:flex;
}
.hover_blog_item_imagen{
    width: 100%;
    height: 100%;
    background: rgba(29, 33, 32, 0.64);
    display: none;
    justify-content: center;
    align-items: center;
}
.leer_mas_boton_blog{
    color: white;
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 38px;
    padding: auto;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    text-decoration: none;
}
.blog_info_contenido{
    width: 100%;
    height: 106px;
    background-color: white;
    font-family: Karla;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    padding-bottom: 15px;
    color: rgba(29, 33, 32, 0.81);
    display: flex;
    z-index: -1;
    margin-top:-106px;
    transition: ease-in 0.5s;
}
.leer_mas_boton_blog a{
    color: white;
}
.leer_mas_boton_blog a:hover{
    color: #29B390;
    border-color: #29B390;
}
.blog_info{
    width: 100%;
    height: 69px;
    font-size: 18px;
    font-family: Karla;
    text-align: left;
    color: rgba(29, 33, 32, 0.81);
    line-height: 21px;
    padding-left: 5px;
    background-color: #F2ECD5;
    transition: ease-in 0.8s;
}
.blog_info_titulo{
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #1D2120;
}

.banner_blog_contenido_blogs{
    width: 60%;
    color: white;
    font-family: "Karla";
    font-size: 24px;
    text-align:center;
    margin-bottom: 20px;
}
.blog_item:hover{
    cursor: pointer;
    transition: ease-in 0.3s;
}
.blog_item:hover .hover_blog_item_imagen{
    display:flex;
}
.blog_item:hover .blog_info{
    background: white;
    transition: ease-in 0.3s;
}
.blog_item:hover .blog_info_contenido{
    margin-top: 0px;
    transition: ease-in 0.5s;
}

.div_width_100_blogs{
    width: 100%;
    display: flex;
    justify-content: center;
}
.banner_blog_boton_blogs{
    background-color: white;
    color: black;
    font-size: 18px;
    width: 15%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.barra_lateral_blogs{
    width: 20%;
    flex-wrap: wrap;
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(29, 33, 32, 0.81);
}

.barra_tags_principales{
    width: 80%;
    height: 150px;
    margin-bottom: 7.5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    text-align: left;
}
.barra_tags_principales a{
    text-decoration: none;
    color: rgba(29, 33, 32, 0.81);
}
.barra_tags_principales a:hover{
    color: #29B390;
}
.barra_autores{
    width: 80%;
    max-height: 300px;
    flex-wrap: wrap;
    justify-content: left;
    text-align: left;
    overflow-y: scroll;
}
.barra_autores::-webkit-scrollbar{
    display:none;
}
.hr_barra_autores{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    height: 5px;
}
.barra_autores a{
    text-decoration: none;
    margin-bottom: 20px;
    color: rgba(29, 33, 32, 0.81);
}
.barra_autores a:hover{
    color: #29B390;
}

.barra_autores_titulo{
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: rgba(29, 33, 32, 0.81);
    margin-bottom: 0px;
}
.barra_tags{
    width: 100%;
    max-height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: scroll;
    overflow-x: scroll;
}
.barra_tags::-webkit-scrollbar{
    display:none;
}
.barra_tags::-moz-scrollbar{
    display:none;
}
.blog_info_titulo::-webkit-scrollbar{
    display:none;
}
.blog_info_titulo::-moz-scrollbar{
    display:none;
}
.barra_tags_principales::-webkit-scrollbar{
    display:none;
}
.barra_tags_principales::-moz-scrollbar{
    display:none;
}
.barra_autores::-webkit-scrollbar{
    display:none;
}
.barra_autores::-moz-scrollbar{
    display:none;
}
.barra_tags::-webkit-scrollbar{
    display:none;
}
.barra_tags::-moz-scrollbar{
    display:none;
}
.barra_tags a{
    text-decoration: none;
    margin-bottom: 20px;
    color: rgba(29, 33, 32, 0.81);
}
.barra_tags a:hover{
    color: #29B390;
}
.barra_tags_tags{
    width:45%; 
    margin-bottom:15px;
}
.blogs_paginacion{
    width: 100%;
    display: flex;
}
.paginacion_css{
    width: auto;
    margin-left: auto;
}
.titulo_blog_txt{
    font-family: Karla;
    font-style: italic;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #1D2120;
    margin: 28px;
    }
.autor_blog_txt{
    font-family: Karla;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: capitalize;
    color: #1D2120;
    float: left;
    margin:10px;
}
.fecha_blog_txt{
    font-family: Karla;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: capitalize;
    color: #1D2120;
    float: right;
    margin:10px;
}
.contenido_blog_txt{
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    color: #000000;
    margin-top: 10px;
}
.btn_regresar{
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    float: right;
    color: #1D2120;
    margin-top: 50px;
}



@media(max-width: 1500px){
    .blog_item{
        width: 45%;
    }
    .barra_tags_tags{
        width:100%; 
    }
}
@media(max-width: 1300px){
    .blog_item{
        width: 48%;
    }
    .blogs_vista{
        padding-left: 5%;
        padding-right: 5%;
    }
}
@media(max-width: 1200px){
    .banner_blog_titulo_blogs{
        font-size: 22px;
    }
    .banner_blog_contenido_blogs{
        font-size: 20px;
    }
    .banner_blog_boton_blogs{
        font-size: 14px;
    }
    .blogs_vista{
        padding-left: 5%;
        padding-right: 5%;
    }
}
@media(max-width: 1000px){
    .blogs_barra{
        flex-wrap: wrap;
    }
    .blogs_vista{
        width: 100%;
        margin-top:50px;
    }
    .blog_barra_busqueda{
        margin-top: 0px;
        margin:auto;
        margin-top: 10px;
    }
    .barra_lateral_blogs{
        width: 100%;
        display: flex;
    }
    .hr_barra_autores{
        display:none;
    }
    .barra_tags_principales{
        width: 20%;
        max-height: 150px;
    }
    .barra_autores{
        width: 40%;
        max-height: 150px;
    }
    #desaparecer{
        display:none;
    }
    .barra_tags{
        width: 40%;
        overflow-y: scroll;
        max-height: 150px;
    }
    .div_compartir_volver{
        width: 100%;
    }
}
@media(max-width: 950px){
    .img_carrusel_blogs{
        height: 304px;
    }
    .banner_blog_titulo_blogs{
        font-size: 18px;
    }
    .banner_blog_titulo_blogs{
        font-size: 26px;
    }
    .banner_blog_contenido_blogs{
        font-size: 16px;
    }
    .banner_blog_boton_blogs{
        font-size: 10px;
        height: 30px;
    }
}
@media(max-width: 800px){
    .blogs_vista{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .blog_item{
        width: 60%;
    }
}
@media(max-width: 770px){
    #carruselBlogs_blogs{
        display:none;
    }
}
@media(max-width: 750px){
    .img_carrusel_blogs{
        height: 204px;
    }
    .banner_blog_contenido_blogs{
        display:none;
    }
    .banner_blog_boton_blogs{
        font-size: 10px;
        height: 30px;
    }
}

@media(max-width: 700px){
    .banner_blog_boton_blogs{
        font-size: 8px;
        height: 20px;
    }
    .blog_item{
        width:70%;
    }
}
@media(max-width:570px){
    .blog_item{
        width: 85%;
    }
}
@media (max-width: 550px){
    .img_carrusel_blogs{
         height: 357px;
    }
     .banner_blog_contenido_blogs{
        font-size: 12px;
        display:flex;
    } 
}
@media(max-width:470px){
    .blog_item{
        width: 95%;
    }
}
@media(max-width:400px){
    .blog_item{
        width: 90%;
    }
    .blog_item_imagen{
        height: 200px;   
    }
    .blog_info{
        height: 50px;
        font-size: 14px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .blog_info_titulo{
        font-size: 14px;
        width: 100%;
    }
    .blog_info_autor{
        width: 50%;
        height: 20px;
        text-align: left;
        overflow-x: scroll !important;
        overflow-y: scroll !important;
    }
    .blog_info_fecha{
        width: 50%;
        text-align: left;
    }
    .blog_info_contenido{
        font-size: 14px;
        height: 96px;
    }
}
