.blog_encabezado{
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    width: 100%;
    height: 40px;
    color: #000000;
    vertical-align: middle; 
}

.blog_barra_busqueda{
    width: 350px;
    height: 40px;
    border: solid 1px;
    border-color:#29B390;
    border-radius: 6px;
    display: flex;
    margin-top: -30px;
    margin-right: 5%;
    margin-left: auto;
}
.busqueda_clasificacion{
    width:130px;
    color: rgba(29, 33, 32, 0.63);
    background: #EBEBEB;
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border:0;
}
#busqueda_busqueda{
    border-radius: 0px;
    width: 190px;
    border: 0;
}
.busqueda_boton{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border:none;
    background-color: #29B390;;
    width: 40px !important;
    display: flex;
    align-items: center;
    justify-content:center;
    color: white;  
}
.blogs_barra{
    width: 100%;
    display: flex;
}
#carruselBlogs{
    width:100%;
    background: transparent;
}
.img_carrusel{
    height: 400px;
}

.banner_blog_fecha{
    width: 100%;
    text-align: right;
    color: white;
    font-size: 24px;
    margin: auto;
    font-family: "Karla";
}

.banner_blog_titulo{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 26px;
    margin: auto;
    margin-bottom:40px;
    font-family: "Karla";
}

.blogs_vista{
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    
}
.barra_lateral_blogs{
    width: 20%;
    display: flex;
    justify-content: left;
}
.blog_item{
    width: 35%;
    margin-bottom: 50px;
}
.blog_item_imagen{
    width: 100%;
    height: 224px;
}
.hover_blog_item_imagen{
    width: 100%;
    height: 100%;
    background: rgba(29, 33, 32, 0.64);
    display: none;
    justify-content: center;
    align-items: center;
}
.leer_mas_boton_blog{
    color: white;
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 38px;
    padding: auto;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    text-decoration: none;
}
.blog_info_contenido{
    width: 100%;
    height: 106px;
    background-color: white;
    font-family: Karla;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    padding-bottom: 15px;
    color: rgba(29, 33, 32, 0.81);
    display: none;
}
.leer_mas_boton_blog a{
    color: white;
}
.leer_mas_boton_blog a:hover{
    color: white;
}
.blog_info{
    width: 100%;
    height: 69px;
    font-size: 18px;
    font-family: Karla;
    text-align: left;
    color: rgba(29, 33, 32, 0.81);
    line-height: 21px;
    padding-left: 5px;
}
.blog_info_titulo{
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #1D2120;
}

.banner_blog_contenido{
    width: 60%;
    color: white;
    font-family: "Karla";
    font-size: 24px;
    text-align:center;
    margin-bottom: 20px;
}
.div_width_100{
    width: 100%;
    display: flex;
    justify-content: center;
}
.banner_blog_boton{
    background-color: white;
    color: black;
    font-size: 18px;
    width: 15%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@media(max-width: 1200px){
    .banner_blog_titulo{
        font-size: 22px;
    }
    .banner_blog_contenido{
        font-size: 20px;
    }
    .banner_blog_boton{
        font-size: 14px;
    }
}

@media(max-width: 950px){
    .img_carrusel{
        height: 304px;
    }
    .banner_blog_titulo{
        font-size: 18px;
    }
    .banner_blog_titulo{
        font-size: 26px;
    }
    .banner_blog_contenido{
        font-size: 16px;
    }
    .banner_blog_boton{
        font-size: 10px;
        height: 30px;
    }
}

@media(max-width: 750px){
    .img_carrusel{
        height: 204px;
    }
    .banner_blog_contenido{
        display:none;
    }
    .banner_blog_boton{
        font-size: 10px;
        height: 30px;
    }
}

@media(max-width: 700px){
    .banner_blog_boton{
        font-size: 8px;
        height: 20px;
    }
}

@media (max-width: 550px){
    .img_carrusel{
         height: 357px;
    }
     .banner_blog_contenido{
        font-size: 12px;
        display:flex;
    } 
}
@media(max-width: 1000px){
    .blog_barra_busqueda{
        margin-top: 0px;
        margin:auto;
        margin-top: 5px;
    }
}