.carrito-table{
    width: 90%;
    max-width: 1440px;
    margin: auto;
    display: table;
    margin-top: 30px;
}

.carrito-table .carrito-cell{
    display: table-cell;
    width: fit-content;
    vertical-align: top;
}

.carrito-table .cell-80{
    width: 73%;
}

.carrito-table .cell-20{
    width: 27%;
}

.carrito-table .carrito-cell .productos-container{
    width: 95%;
    margin: auto;
}

.carrito-table .carrito-cell .productos-container .producto{
    width: 100%;
    display: table;
    padding: 7px 10px;

    border-bottom: 1.5px solid #c5c5c5;
    box-sizing: border-box;

    margin-bottom: 25px;
}

.carrito-table .carrito-cell .productos-container .producto .imagen{
    display: table-cell;
    width: 135px;
    height: 150px;
}

.carrito-table .carrito-cell .productos-container .producto .imagen img{
    width: 135px;
    height: 150px;
}

.carrito-table .carrito-cell .productos-container .producto .producto-cell{
    display: table-cell;
    width: 100%;
    vertical-align: top;
    padding-left: 12px;
}

.carrito-table .carrito-cell .productos-container .producto .datos{
    display: table-row;
    width: 100%;
}

.carrito-table .carrito-cell .productos-container .producto .datos p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 12px;
    color: #2E2E2E;
    margin-bottom: 15px;
}

.carrito-table .carrito-cell .productos-container .producto .datos a{
    font-weight: 400;
    color: #2E2E2E;
    /* font-size: 18px; */
    line-height: 21px;
}

.carrito-table .carrito-cell .productos-container .producto .datos .titulo{
    display: flex;
    justify-content: space-between;
}

.carrito-table .carrito-cell .productos-container .producto .datos .titulo .eliminar{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;

    color: #29B390;
    vertical-align: top;
    height: fit-content;
    padding-left: 150px;
    

    cursor: pointer;
}

.carrito-table .carrito-cell .productos-container .producto .totales{
    display: table-row;
}

.carrito-table .carrito-cell .productos-container .producto .totales b{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 12px;
    color: #2E2E2E;
}


.carrito-table .carrito-cell .productos-container .producto .totales .cantidades{
    display: inline-block;
    user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 12px;
        color: #2E2E2E;
        margin-bottom: 15px;
        
}

.carrito-table .carrito-cell .productos-container .producto .totales .cantidades .qty{
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */


    color: #29B390;
    display: inline-block;
    cursor: pointer;
    width: 20px;
}

.carrito-table .carrito-cell .productos-container .producto .totales .cantidades input{
    width: 40px;
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    color: #1D2120;
    text-align: center;
    background-color: transparent;
    border: 0px;
    outline: none;
}

.table-div{
    display: table;
    width: fit-content;
    margin-right: 0px;
    margin-left: auto;
    text-align: center;
}

.row-div{
    display: table-row;
}

.cell-div{
    display: table-cell;
    width: 100px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 12px;
    color: #2E2E2E;
}

.carrito-table .carrito-cell .compra-container{
    width: 100%;
    border: 0.5px solid #c5c5c5;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
}

.carrito-table .carrito-cell .compra-container h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */


    color: #2E2E2E;
    margin-top: 32px;
}

.carrito-table .carrito-cell .compra-container p{
    margin-top: 12px;
    line-height: 16px;
    text-align: center;
    margin-bottom: 17px;
    color: #2E2E2E;
    font-family: 'Montserrat';
    font-weight: light;
    font-size: 13px;
}

.carrito-table .carrito-cell .compra-container a{
    font-family: Karla;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: #29B390;
    font-weight: bold;
}

.carrito-table .carrito-cell .compra-container .tienda{
    width: 100%;
    background-color: #1FC6AC;
    margin-top: 30px;
    margin-bottom:30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px; 
    /* identical to box height */

    border:none;
    color: white;

    padding-top: 12px;
    padding-bottom: 12px;
    box-sizing: border-box;
    border-radius: 25px;
    outline: none;
    transition-duration: .1s, .1s;
    -webkit-transition-timing-function: ease-out, cubic-bezier(.82, .1, .14, 1.12);
    transition-timing-function: ease-out, cubic-bezier(.82, .1, .14, 1.12);
    /* sombra */
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
}



.carrito-table .carrito-cell .compra-container .comprar{
    background: #2E2E2E;
    width: 100%;
    margin-bottom:30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px; 
    /* identical to box height */

    border:none;
    color: white;

    padding-top: 12px;
    padding-bottom: 12px;
    box-sizing: border-box;
    border-radius: 25px;
    outline: none;
    transition-duration: .1s, .1s;
    -webkit-transition-timing-function: ease-out, cubic-bezier(.82, .1, .14, 1.12);
    transition-timing-function: ease-out, cubic-bezier(.82, .1, .14, 1.12);
    /* sombra */
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
}

.precio{
    display: flex;
}

.precio p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400 !important;
    font-size: 14px;
    line-height: 12px;
    color: #2E2E2E;
    padding-left:0px !important;
    text-align: left;
    padding-top: 15px;
    margin: auto;
    width: min-content;
}

.precio .oferta{
    margin:0px;
    margin-right: 10px;
}

.precio .oferta p{
    color: #BA1F00;
    text-decoration: line-through;
}

.shrink:hover
{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.95);
    transition-duration: .1s, .1s;
    -webkit-transition-timing-function: ease-out, cubic-bezier(.82, .1, .14, 1.12);
    transition-timing-function: ease-out, cubic-bezier(.82, .1, .14, 1.12);
}

.carrito-vacio{
    width: 100%;
    text-align: center;
}

.carrito-vacio p{
    margin-top: 12px;
    line-height: 16px;
    text-align: center;
    color: #2E2E2E;
    font-family: 'Montserrat';
    font-weight: light;
    font-size: 15px;

    padding: 0px 30px;
    margin-bottom: 50px;       
}

.carrito-vacio a{
    background: #2E2E2E;
    width: 100%;
    margin-bottom:30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px; 
    /* identical to box height */

    border:none;
    color: white;
    box-sizing: border-box;
    border-radius: 25px;
    outline: none !important;
    transition-duration: .1s, .1s;
    -webkit-transition-timing-function: ease-out, cubic-bezier(.82, .1, .14, 1.12);
    transition-timing-function: ease-out, cubic-bezier(.82, .1, .14, 1.12);
    /* sombra */
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    padding: 10px 50px;

    margin-bottom: 50px;
}

.carrito-vacio a:hover{
    color: white;
    font-size: 16px;
    transition-duration: .1s, .1s;
    -webkit-transition-timing-function: ease-out, cubic-bezier(.82, .1, .14, 1.12);
    transition-timing-function: ease-out, cubic-bezier(.82, .1, .14, 1.12);
}

.tooltip-carrito
{
    display: block;
    position: absolute;
    width: fit-content;
    background-color: #29B390;
    padding: 15px;

    font-size: 20px;
    font-family: Karla;
    font-style: normal;
    font-weight: 600;
    color: white;

    top: -80px;
    right: -70px;
    text-align: center;

    border-radius: 5px;

    -webkit-box-shadow: 1px 40px 51px -27px rgba(0,0,0,0.74);
    -moz-box-shadow: 1px 40px 51px -27px rgba(0,0,0,0.74);
    box-shadow: 1px 40px 51px -27px rgba(0,0,0,0.74);

    transition: height 1s, width 1s, padding 1s, visibility 1s, opacity 0.5s ease-out, top 0.5s ease-out;
}

@media(max-width: 1245px) and (min-width: 1200px){
    .tooltip-carrito
    {
        right: -10px;
    }
}

@media(max-width: 1074px) and (min-width: 1029px){
    .tooltip-carrito
    {
        right: -50px;
    }
}

@media(max-width: 1029px) and (min-width: 990px){
    .tooltip-carrito
    {
        right: -10px;
    }
}

@media(max-width: 810px) and (min-width: 770px){
    .tooltip-carrito
    {
        right: -50px;
    }
}

@media(max-width: 620px){
    .tooltip-carrito
    {
        right: -50px;
    }
}

@media(max-width: 1200px){
    
    .carrito-table .carrito-cell{
        display: table-row;
    }

    .carrito-table .carrito-cell .productos-container{
        width: 100%;
    }

    .carrito-table .carrito-cell .compra-container{
        width: 100%;
        margin-right: 0px;
        margin-left: auto;
    }

    .carrito-table .carrito-cell .productos-container .producto .datos p{
        font-size: 14px;
    }

    .carrito-table .carrito-cell .productos-container .producto .datos a{
        font-size: 14px;
    }
    
}

@media(max-width:500px){
    .cell-div{
        width: 150px;
        text-align: left;
    }
    .carrito-table .carrito-cell .productos-container .producto .imagen{
        width: 100%;
        margin-bottom: 25px;
    }
    .carrito-table .carrito-cell .productos-container .producto{
        display: flex !important;
        flex-wrap: wrap !important;
    }
    .carrito-table .carrito-cell .productos-container .producto .producto-cell{
        padding-left: 0px;
    }
    .precio p{
        margin: 0;
        width: auto;
    }
    
    /* .carrito-table .carrito-cell .productos-container .producto .imagen img{
        width: 90px;
        height: 90px;
    } */
}

@media(max-width: 540px){
    /* .precio{
        display: block;
    } */

    .carrito-table .carrito-cell .productos-container .producto .totales b{
        font-size: 14px;
    }

    .precio P{
        font-size: 14px;
    }

    .cell-div{
        font-size: 14px;
    }

    .carrito-table .carrito-cell .productos-container .producto .totales .cantidades{
        font-size: 14px;
    }
}

@media(max-width: 390px){
    .carrito-table .carrito-cell .productos-container .producto .totales .cantidades .qty{
        display: block;
        width: 100%;
        text-align: center;
    }

    .cell-div{
        vertical-align: middle;
    }
}

@media(min-width: 540px){
    .carrito-table .carrito-cell .compra-container{
        max-width: 350px;
    }
}

@media(max-width: 340px){
    .carrito-table .carrito-cell .productos-container .producto .totales .cantidades a{
        display: block;
    
    }
    
    .carrito-table .carrito-cell .productos-container .producto .totales .cantidades input{
        display: block;
    }
}