body {
    font-family: Karla;
}

label{
    display: inherit;
}

.label-before, .field input:not([value=""]) + label::before, .field input:focus + label::before {
    line-height: 20px;
    font-size: 12px;
    top: -10px;
    background: #fff;
    padding: 0 6px;
    left: 9px;
}

.field {
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}
.field label::before {
    content: attr(title);
    position: absolute;
    top: 0;
    left: 15px;
    line-height: 40px;
    font-size: 14px;
    color: #777;
    transition: 300ms all;
}
.field input {
    width: 100%;
    line-height: 40px;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 14px;
    color: #222;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.field input:focus {
    outline: 0;
    border-color: blue;
}
.field input:not([value=""]) + label::before {
    content: attr(data-title);
}
.field input:focus + label::before {
    color: blue;
}

.field select{
    width: 100%;
    line-height: 40px;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 14px;
    color: #222;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 42px;
}

.field select + label::before{
    line-height: 20px;
    font-size: 12px;
    top: -10px;
    background: #fff;
    padding: 0 6px;
    left: 9px;
}
  


/*-- COMPRA --*/

.Input-50{
    width: 50%;
}

.row-p{
    padding-right: 15px;
    padding-left: 15px;
}

.row-m{
    margin-bottom: 36px;
}

.compra-header{
    width: 90%;
    max-width: 1440px;
    margin: auto;
    display: block;
}

.compra-header .logo{
    width: fit-content;
    height: fit-content;
}

.compra-header .logo img{
    width: 200px;
    height: auto;
    margin-top: 15px;
    margin-bottom: 10px;
}

.compra-table{
    width: 90%;
    max-width: 1440px;
    margin: auto;
    display: table;
    margin-top: 30px;
}

.compra-table .compra-cell{
    display: table-cell;
    width: fit-content;
    vertical-align: top;
}

.cell-80{
    width: 60% !important;
}

.cell-20{
    width: 40% !important;
}

.formulario-container{
    width: 65%;
    margin: auto;
}

.formulario-container h1{
    font-size: 24px;
    font-weight: 500;
}

.compra-container{
    width: 100%;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    
    text-align: center;
}

.productos-compra{
    width: 90%;
    margin: auto;
}

.compra-container h1{
    font-family: Karla;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 21px;
    
    color: #000000;
    margin-top: 16px;
}

.compra-container p b{
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 21px;
    
    color: #000000;

    padding-left: 5px;
    padding-right: 5px;
}

.compra-container p{
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    
    color: #000000;

    margin: 0px;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.producto-table{
    width: 100%;
    display: table;
    margin: auto;
    margin-top: 30px;
}

.producto-cell{
    display: table-cell;
    width: fit-content;
    border-bottom: 1px solid black;
}

.producto-row{
    display: table-row;
    width: 100%;
}

.imagen-producto{
    width: 10%;
    height: auto;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
}

.imagen-producto img{
    width: 60%;
    height: auto;
}

.contenido-producto{
    width: 40%;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contenido-producto-sm{
    width: 10%;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
}

.totales{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.totales p{
    width: fit-content;
    font-size: 14px;
}

.cell-np{
    padding: 0px;
}

.envio-totales{
    font-style: italic !important;
    cursor: default;
    font-size: 10px !important;
}

input[type=submit]{
    background: #1D2120;
    border-radius: 5px;
    border: 0px;

    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.85);

    width: 90%;
    margin: auto;
    padding: 8px 0px;
    margin-top: 20px;
    margin-bottom: 16px;

    outline: none;

    transition-duration: .1s, .1s;
    -webkit-transition-timing-function: ease-out, cubic-bezier(.82, .1, .14, 1.12);
    transition-timing-function: ease-out, cubic-bezier(.82, .1, .14, 1.12);
}

.shrink:hover
{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.95);
    transition-duration: .1s, .1s;
    -webkit-transition-timing-function: ease-out, cubic-bezier(.82, .1, .14, 1.12);
    transition-timing-function: ease-out, cubic-bezier(.82, .1, .14, 1.12);
}

.boton_compra{
    background: #1D2120;
    border-radius: 5px;
    border: 0px;

    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.85);

    width: 90%;
    margin: auto;
    padding: 8px 0px;
    margin-top: 20px;
    margin-bottom: 16px;

    outline: none;

    transition-duration: .1s, .1s;
    -webkit-transition-timing-function: ease-out, cubic-bezier(.82, .1, .14, 1.12);
    transition-timing-function: ease-out, cubic-bezier(.82, .1, .14, 1.12);

}

.boton_compra:disabled{
    color: gray;
    cursor: not-allowed;
}

.libro-regresar{
    width: 90%;
    max-width: 1169px;
    margin: auto;
    align-items: flex-end;
    margin-bottom: 100px;
}

.libro-regresar .boton{
    width: fit-content;
    margin-right: 0px;
    margin-left: auto;
}

.libro-regresar .boton button{
    width: fit-content;
    margin-right: auto;
    margin-left: auto;

    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    /* identical to box height */


    color: #1D2120;

    outline: none;
    background-color: transparent;
    border: 0px;
}

.libro-regresar .boton button .row img{
    transform: matrix(-1, 0, 0, 1, 0, 0);
    width: 39px;
    height: 25px;
}

.libro-regresar .row{
    width: fit-content;
}

@media(max-width: 1100px){
    .compra-header .logo {
        display: block;
        margin: 0 auto;
    }

    

    .formulario-container h1 {
        text-align: center;
    }

    .compra-table .compra-cell{
        display: table-row;
        width: fit-content;
        vertical-align: top;
    }

    .compra-container{
        width: 65%;
        margin: auto;
        margin-top: 30px;
    }

    .compra-container p b{
        font-size: 12px;
        padding: 0px;
    }
}

@media(max-width: 765px){
    .formulario-container{
        width: 95%;
    }

    .compra-container{
        width: 95%;
    }
}

.StripeElement {
    /* box-sizing: border-box;
  
    height: 40px;
  
    padding: 10px 12px;
  
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white; */
  
    height: 42px;
    padding: 0px 15px;
    padding-top: 10px;
    box-sizing: border-box;
    color: #222;
    border: 1px solid #ccc;
    border-radius: 3px;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #f84040;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }

  #card-errors{
      color:#f84040;
  }