.border-contacto{
    border: 1px solid #1D2120;
    margin: auto;
    margin-top: 38px;
    max-width: 815px;
}

.div-contacto{
    width: 100%;
    background: #FEFDFB;
    position: relative;
    left: 16px;
    top: 18px;
    max-width: 815px;
}

.div-contacto img{
    width: 273px;
    height: auto;
    margin-top: 27px;
}

* {box-sizing: border-box}
.mySlides {display: none;
margin:auto;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Caption text */
.textContacto {
  color: #000000;
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  margin-top: 39px;
}

.textContacto h1{
  font-family: Karla;
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */


  color: #000000;

  margin-bottom: 20px;
}

.textContacto p{
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #1D2120;

  margin-bottom: 20px;
}

.textContacto img{
  height: 35px;
  width: auto;
  margin:0px;
  vertical-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background: #C4C4C4;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background: #FFFFFF;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  opacity: 1;
}

.fade:not(.show){
    opacity: 1 !important;
}

.contenidoPagDosContacto{
    width:94%;
    max-width:647px;
    margin:auto;
}

.contenidoPagDosContacto ol{
  list-style-type: decimal !important;
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #1D2120;
}

.contenidoPagDosContacto ul{
  list-style-type: disc !important;
  padding-left: 50px;
}

@-webkit-keyframes fade {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

@media(max-width:700px){
    .div-contacto img{
        width: 200px;
        height: auto;
    }
    .border-contacto{
        padding-bottom: 38px;
    }
    
    .div-contacto{
        left: 0px;
    }
    /* Caption text */
.textContacto {
    color: #000000;
    font-size: 15px;
    padding: 8px 12px;
    bottom: 8px;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    margin-top: 39px;
  }
  
  .textContacto h1{
      font-size: 17px;
      margin-bottom: 20px;
  }
  
  .textContacto p{
      font-size: 14px;
      margin-bottom: 20px;
  }
  
  .textContacto img{
      height: 25px;
      width: auto;

  }
  .p-txt-content{
      width: 95%;
  }
}

@media(max-width:1000px){
    .contenidoPagDosContacto{
        width: 80%;
    }
}