/*-------------------footer-------------------*/
@media (max-height: 800px) {
    footer {
      position: static;
    }
  }
  
  .footer-distributed {
    background-color: #343434;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 40px 40px 50px 40px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-centro,
  .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left {
    width: 24%;
  }
  
  .footer-distributed h3 {
    color: #ffffff;
    font: normal 36px "Cookie", cursive;
    margin: 0;
  }
  
  /* The company logo */
  
  .footer-distributed .footer-left .logo145 {
    width: 35%;
  }
  
  .footer-distributed h3 span {
    color: #ffffff;
  }
  
  /* Footer links */
  
  .footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
  }
  
  .footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
  }
  
  .footer-distributed .footer-company-name {
    margin: 0;

    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: rgba(0, 0, 0, 0.78);
  }

  .footer-distributed .dragonware-name {
    margin-top: 90px;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center {
    width: 20%;
  }

  .footer-distributed .footer-centro {
    width: 28%;
  }
  
  .footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer-distributed .footer-centro i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }

  .footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
  }

  .footer-distributed .footer-centro i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer-distributed .footer-center p {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }

  .footer-distributed .footer-centro p {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }

  .footer-distributed .footer-right p {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }
  
  .footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    line-height: 2;
  }

  .footer-distributed .footer-right p span {
    display: block;
    font-weight: normal;
    line-height: 2;
  }

  .footer-distributed .footer-centro p span {
    display: block;
    font-weight: normal;
    line-height: 2;
  }
  
  .footer-distributed .footer-center p a {
    text-decoration: none;
  }

  .footer-distributed .footer-centro p a {
    text-decoration: none;
  }
  
  /* Footer Right */
  
  .footer-distributed .footer-right {
    width: 24%;
    padding-left: 10px;
  }
  
   
  .footer-distributed .footer-icons {
    margin-top: 35px;
  }
  
  .footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
  }
  
  /* Here is the code for Responsive Footer */
  
  /* You can remove below code if you don't want Footer to be responsive */
  
  @media (max-width: 880px) {
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-centro,
    .footer-distributed .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      padding-left: 0px;
      text-align: center;
    }
  
    .footer-distributed .footer-center i {
      margin-left: 0;
    }
    .contactoBoton{
      display: table-row;
    }
    .contactoBotonContent{
      margin-top: 25px;
      margin-bottom: 25px;
    }

    .footer-distributed .dragonware-name {
      margin-top: 15px;
    }
  }

  .footer-titulos{
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height */
    
    
    color: #1D2120;
    padding-bottom: 10px;
    padding-right: 10px;
    border-bottom: 2px solid #BA1F00;
  }

  .footer-distributed .logodragon{
      width: 7%;
  }

  .footer-distributed .footernav,
  .footer-distributed .footernav a{
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    
    color: #1D2120;
    text-decoration: none;
  }

  .footer-distributed .footer-centro a,
  .footer-distributed .footer-center a{
    color: #1D2120;
    text-decoration: none;
  }

  .footer-distributed .footer-centro ul,
  .footer-distributed .footer-center ul{
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
      
    color: #1D2120;
    text-decoration: none;
  }

  .footer-distributed .footer-centro img{
    width: 22px;
  }

  .footer-distributed .footer-centro li,
  .footer-distributed .footer-center li{
     margin-top: 10px;
  }

  .footer-distributed .footernav{
      padding-top: 8px;
  }
