.contenido_sliders{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}

.datos_slider{
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 4px 4px 8px rgba(187, 187, 187, 0.25);
    padding: 40px;
    padding-bottom: 10px;
    background-color: white;
}
.elementos_slider{
    font-family: "Nunito";
    font-style: bold;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #1D2120;
}

.div_empareja_elementos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.txt-titulosGestor{
    text-decoration: none;
    color: #5a5c69;
}
.txt-titulosGestor:hover{
    text-decoration: none;
    color: #3e3f47;
}
.elementos_slider_100{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.elementos_slider_50{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}


.imagenes_slider_100{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    margin-bottom: 5px;
    flex-direction: row;
}

.elementos_slider_imagen{
    margin-top: 20px;
    display: flex;
}

.botones_slider_100{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top:35px;
    margin-bottom: 20px;
}

.botones_slider_derecha{
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    flex-wrap: wrap;
}
.gestor_slider_cancelar{
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 19px;
    color: #1D2120;
    border: 1px solid #1D2120;
    box-sizing: border-box;
    border-radius: 5px;
    width: 151px;
    height: 40px;
    transition: all 0.3s;
}
.gestor_slider_cancelar:hover{
    width: 156px;
    transition: all 0.3s;
    text-decoration: none;
}

.gestor_slider_guardar{
    font-family: "Nunito";
    font-style: normal;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 19px;
    color: #29B390;
    border: 1px solid #29B390;
    box-sizing: border-box;
    border-radius: 5px;
    width: 151px;
    height: 40px;
    transition: all 0.3s;
    background-color: transparent;
}
.gestor_slider_guardar:hover{
    width: 156px;
    transition: all 0.3s;
    text-decoration: none;
}

.all_sliders_80{
    width: 100%;
    display: flex;
    justify-content: center;
}

.all_sliders_menu_busqueda{
    width: 95%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.all_sliders_contenido{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.title_index{
    width: 270px; line-height: 49px; margin:10px; text-align:left; margin-right: auto; margin-left: 5%;
}

.txt-AutorLibroBlog{
    margin-left: 40px;
}
.select_slider{
    background-color: transparent;
    border: none;
    border-bottom: 0.4px solid #909090;
    width: auto;
    margin-left: 5px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    height: 25px;
    line-height: 22px;
    color: #717171;
    margin-top: -18px;
    width: 60%;
}
.select_slider:focus {
    outline:none ;
    outline-width: 0;
    border-bottom: 0.5px solid #29B390; 
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.select_slider:hover{
    cursor: pointer;
}

#banner_existente:hover{
    cursor: pointer;
}

.img_banner{
    width: 40%;
    margin: 10px;
}
.img_banner:hover{
    cursor: pointer;
}

.text_title_slider{
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #1D2120;
}
.text_agregar{
    font-family: Nunito;
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-decoration-line: underline;
    color: #29B390;
    margin:10px;
    margin-right: 5%;
}

.img_carrusel:hover{
    width: 95%;  
    transition: all 0.5s;
}
.all_sliders_mueve{
    margin:10px;
}
#carruselLibros{
    display:inline-block;
    position: relative;
    background:transparent;
    width: 90%;
    transition: all 0.5s;
 }

#boton_delete{
    width: 10%;
    height: 38px;
    z-index: 0;
    position: absolute;
    align-items: center;
    border: 1px solid white;
    box-sizing: border-box;
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: white;
    background-color:#BA1F00;
    top: 162px;
    right: 45%;
    transition: all 0.3s;
    display: none;
}
#boton_delete:hover{
    text-decoration: none;
    height: 43px;
    transition: all 0.3s;
    color:white;
}
#img_carrusel{
    height: 400px;
}