.cuadro-resumen{
    height: 250px;
    width: fit-content;
    margin-left: 17.5px;
    margin-right: 17.5px;
    margin-bottom: 25px;
}

.titulo-resumen{
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    
    color: #181A2B;
}

.grafica-resumen{
    width: 369px;
    height: 213px;

    padding-left: 1.5rem;
    padding-right: 1.5rem;

    background: #FAFAFA;
    box-shadow: 4px 4px 8px rgba(187, 187, 187, 0.25);
}

.grafica-resumen2{
    width: 298px;
    height: 213px;

    background: #FAFAFA;
    box-shadow: 4px 4px 8px rgba(187, 187, 187, 0.25);
}

.ultimos-resumen{
    width: 621px;
    height: 213px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    background: #FAFAFA;
    box-shadow: 4px 4px 8px rgba(187, 187, 187, 0.25);
}

.graficadona-resumen{
    width: 214px;
    height: 100%;
    padding-top: 0.8rem;
    padding-left: 0.1rem;
    padding-bottom: 0.8rem;
}

.tabla-resumen{
    width: 100%;
    border-collapse:separate; 
    border-spacing:0 10px; 
}

.left-tabla-resumen{
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;

    color: rgba(29, 33, 32, 0.81);
}

.right-tabla-resumen{
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;

    color: rgba(29, 33, 32, 0.81);
}

.center-tabla-resumen{
    width: 83px;
    height: 21px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding-top: 2px;
    align-content: center;
    font-family: Nunito;
    font-size: 12px;
    color: rgba(29, 33, 32, 0.81);
}

.formContainer{
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 5px;
}

.form-anio{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
}

.tituloResumen2{
    margin-top: auto;
    margin-bottom: auto;
}

.boton-resumen{
    margin-top: 0 !important;
    margin-bottom: 0    !important;
}

.select-resumen{
    background-color: transparent;
    border: none;
    border-bottom: 0.4px solid #909090;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #717171;
    width: 20%;
}
.select-resumen:hover{
    cursor: pointer;
}
.select-resumen:focus{
    outline:none ;
    outline-width: 0;
    border-bottom: 0.5px solid #29B390; 
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

@media (max-width:885px){
    .cuadro-resumen{
        width: 98% !important;
    }
    .grafica-resumen{
        width: 100% !important;
        margin-left: 0 !important;
    }

    .grafica-resumen2{
        width: 100% !important;
        margin-left: 0 !important;
    }
    .cuadro-ultimos{
        overflow-x: auto;
    }
    .gestor_blog_guardar{
        margin-top: 10px;
    }
    .select-resumen{
        width: 40% !important;
    }
}