.contenido_blogs{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}
.datos_blog{
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 4px 4px 8px rgba(187, 187, 187, 0.25);
    padding: 40px;
    padding-bottom: 10px;
    background-color: white;
}
.elementos_blog_100{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 5px;
}
.elementos_blog{
    font-family: "Nunito";
    font-style: bold;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #1D2120;
}
.input_blog_titulo{
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.4px solid #909090;
    background-color: transparent;
    height: 25px;
    margin-top: -18px;
    width: 100%;
    margin-left: 5px;
}
.input_blog_titulo:focus, 
.select_blog:focus, 
.input_blog_autor:focus,
.input_blog_tag{
    outline:none ;
    outline-width: 0;
    border-bottom: 0.5px solid #29B390; 
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.elementos_blog_50{
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 5px;
}
.div_empareja_elementos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.select_blog{
    background-color: transparent;
    border: none;
    border-bottom: 0.4px solid #909090;
    width: auto;
    margin-left: 5px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    height: 25px;
    line-height: 22px;
    color: #717171;
    margin-top: -18px;
    width: 60%;
}
.div_nuevo_autor_blog{
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    color :#29B390;
    margin-left: 10px;
    margin-top: -16px;
}
.div_nuevo_autor_blog:hover,
.select_blog:hover{
    cursor: pointer;
}
.input_blog_autor{
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.4px solid #909090;
    background-color: transparent;
    margin-left: 5px;
    margin-top: -18px;
    width: 100%;
}
.input_blog_tag{
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    border: none;
    border-bottom: 0.4px solid #909090;
    background-color: transparent;
    margin-left: 5px;
    margin-top: -18px;
    width: 75%;
}
.gestor_blog_imagen{
    margin-left: 5px;
    color: #717171;
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
}
.contenido_gestor_blog{
    width: 100%;
}

.elementos_blog_imagen{
    margin-top: 20px;
    display: flex;
}
.gestor_blog_cancelar{
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 19px;
    color: #1D2120;
    border: 1px solid #1D2120;
    box-sizing: border-box;
    border-radius: 5px;
    width: 151px;
    height: 40px;
    transition: all 0.3s;
}
.gestor_blog_cancelar:hover{
    width: 156px;
    transition: all 0.3s;
    text-decoration: none;
}
.gestor_blog_guardar{
    font-family: "Nunito";
    font-style: normal;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 19px;
    color: #29B390;
    border: 1px solid #29B390;
    box-sizing: border-box;
    border-radius: 5px;
    width: 151px;
    height: 40px;
    transition: all 0.3s;
    background-color: transparent;
}
.gestor_blog_guardar:hover{
    width: 156px;
    transition: all 0.3s;
    text-decoration: none;
}
.gestor_blog_mostrar_imagen{
    width: 80%;
    height: 300px;
    border: 1.5px solid #909090;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Nunito";
    font-style: bold;
    font-weight: 600;
    color: #909090;
    font-size: 18px;
}
.preview_imagen_imagen{
    display: none;
    width: 100%;
}

.preview_imagen_blog{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen_actual{
    width: 100%;
    display: block;
}
.botones_blog_100{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top:35px;
    margin-bottom: 20px;
}
.botones_blog_derecha{
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}