.txt-titulosGestor{
    text-decoration: none;
}
.a_agregarAutor{
    color: #BA1F00;
    text-decoration: none;
}
.a_agregarAutor:hover{
    color: #BA1F00;
    text-decoration: underline;
}
.div_AutoresContainerG{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.div_ItemAutorG{
    margin-top: 3%;
    width: 22%;
    display: flex;
    flex-direction: column;
}
.div_imagAutorG{
    width: 100%;
    height: 230px ;
}
.div_imagAutorG img{
    width: 100%;
    height: 150px !important;
}
@supports(object-fit: cover){
    .div_imagAutorG img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}
.div_infoAutorG{
    width: 100%;
    height: 25px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #1D2120;
    padding-top: 2%;
}
.div_DatosAutorG{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Karla';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

}
.div_librosAutorG{
    width: 50%;
    color: rgba(29, 33, 32, 0.81);
}
.div_entradasAutorG{
    width: 50%;
    color: #BA1F00;
}
.btn_editarAutorG{
    margin-top:2px;
    transition: all 0.3s;
    width: 100%;
    text-align: center;
    align-items: center;
    border: 1px solid #1D2120;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 2px;
    height: 34px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #1D2120;
    display: flex;
}
.txt-nombreAutorG:hover{
    cursor: default;
}
.btn_editarAutorG a{
    text-decoration: none;
    color: #1D2120;
    width: 100% !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn_editarAutorG a:hover{
    text-decoration: none;
    color: #1D2120;
    text-emphasis: none;
    text-transform: none;
    text-decoration: none;
}
.btn_editarAutorG:hover{
    color: #1D2120;
    transition: all 0.3s;
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 95%;
    cursor: pointer;
}


/* -----------------------------AGREGAR AUTOR------------------------------ */
.div_containerAuthor{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}
.div_datosAuthor{
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 4px 4px 8px rgba(187, 187, 187, 0.25);
    padding: 40px;
    padding-bottom: 10px;
    background-color: white;
}
.div_elementosAuthor{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
}
.div_elementosAuthor50{
    display: flex;
    width: 50%;
    justify-content: space-between;
    
}
.txt_datosAuthor{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #1D2120;
    width: 95px !important;
}
.txt_datosAuthorFECHA{
    width: auto !important;
}
.input_datosAuthor, .input_datosAuthor50{
    transition: ease 0.3s;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #1D2120;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.4px solid #909090;
    background-color: transparent;
    height: 25px;
    margin-top: -18px;
    width: 100%;
    margin-left: 15px;
}
.input_datosAuthor50{
    margin-top: 0px;
    width: 84%;
}
.dateAuthor{
    width: 40%;
}
.dateMuerteAuthor{
    margin-left: 45px;
}
.input_datosAuthor:focus{
    outline:none ;
    outline-width: 0;
    border-bottom: 0.5px solid #29B390; 
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    transition: ease 0.3s;
}
.textarea_biografia:focus{
    border: 0.5px solid #29B390;
}
.textarea_biografia{
    transition: ease 0.3s;
    margin-left: 5px;
    width: 100%;
    resize: none;
    border-radius: 5px;
    border: 0.4px solid #909090;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #1D2120;
}
.img_datosAuthor{
    width: 100%;
    margin-left: 5px;
    color: #717171;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    margin-top: -16px;
}









/* ------------------------RESPONSIVE-------------------- */
@media (max-width:1150px){
    .div_datosAuthor{
        width: 100%;
    }
}
@media(max-width: 1115px){
    .div_infoAutorG{
        font-size: 14px;
    }
    .div_DatosAutorG{
        font-size: 14px;
    }
    .btn_editarAutorG{
        font-size: 14px;
    }
}
@media(max-width: 970px){
    .div_ItemAutorG{
        width: 30%;
    }
}
@media(max-width: 970px){
    .div_elementosAuthor50{
        flex-wrap: wrap;
        width: 100%;
    }
    .input_datosAuthor50{
        margin-left: 0px;
        width: 100%;
        margin-right: 30px;
    }
    .txt_datosAuthor{
        width: 100% !important;
        margin-top: 0px;
    }
    .div_space{
        display: none;
    }
}
@media(max-width: 820px){
    .div_ItemAutorG{
        width: 45%;
    }
}
@media(max-width: 540px){
    .txt_datosAuthor  { 
        font-size: 14px;
    }
    .input_datosAuthor{
        font-size: 14px;
    }
    .textarea_biografia{
        font-size: 14px;
    }
    .img_datosAuthor{
        font-size: 14px;
    }
    .input_datosAuthor, .input_datosAuthor50{
        font-size: 14px;
    }

}
@media(max-width: 500px){
    .div_ItemAutorG{
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    .a_agregarAutor{
        font-size: 14px;
    }
    .div_elementosAuthor{
        flex-wrap: wrap;
    }
    .img_datosAuthor{
        margin-left: 0px;
    }
    .dateAuthor{
        width: 100%;
        margin-left: 0px;
    }
    .dateMuerteAuthor{
        margin-left: 0px;
    }
    .input_datosAuthor{
        margin-left: 0px;
    }
    .textarea_biografia{
        margin-left: 0px;
    }
}