.contenido_blogs{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}
.datos_blog{
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 4px 4px 8px rgba(187, 187, 187, 0.25);
    padding: 40px;
    padding-bottom: 10px;
    background-color: white;
}
.elementos_blog_100{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 5px;
}
.elementos_blog{
    font-family: "Nunito";
    font-style: bold;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #1D2120;
}
.input_blog_titulo{
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.4px solid #909090;
    background-color: transparent;
    height: 25px;
    margin-top: -18px;
    width: 100%;
    margin-left: 5px;
}
.input_blog_titulo:focus, 
.select_blog:focus, 
.input_blog_autor:focus,
.input_blog_tag,
.all_blogs_input_busqueda{
    outline:none ;
    outline-width: 0;
    border-bottom: 0.5px solid #29B390; 
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.elementos_blog_50{
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 5px;
}
.div_empareja_elementos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.select_blog{
    background-color: transparent;
    border: none;
    border-bottom: 0.4px solid #909090;
    width: auto;
    margin-left: 5px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    height: 25px;
    line-height: 22px;
    color: #717171;
    margin-top: -18px;
    width: 60%;
}
.div_nuevo_autor_blog{
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #717171;
    color :#29B390;
    margin-left: 10px;
    margin-top: -16px;
}
.div_nuevo_autor_blog:hover,
.select_blog:hover{
    cursor: pointer;
}
.input_blog_autor{
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.4px solid #909090;
    background-color: transparent;
    margin-left: 5px;
    margin-top: -18px;
    width: 100%;
}
.input_blog_tag{
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    border: none;
    border-bottom: 0.4px solid #909090;
    background-color: transparent;
    margin-left: 5px;
    margin-top: -18px;
    width: 75%;
}
.gestor_blog_imagen{
    margin-left: 5px;
    color: #717171;
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
}
.contenido_gestor_blog{
    width: 100%;
}

.elementos_blog_imagen{
    margin-top: 20px;
    display: flex;
}
.gestor_blog_cancelar{
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 19px;
    color: #1D2120;
    border: 1px solid #1D2120;
    box-sizing: border-box;
    border-radius: 5px;
    width: 151px;
    height: 40px;
    transition: all 0.3s;
}
.gestor_blog_cancelar:hover{
    width: 156px;
    transition: all 0.3s;
    text-decoration: none;
}
.gestor_blog_guardar{
    font-family: "Nunito";
    font-style: normal;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 19px;
    color: #29B390;
    border: 1px solid #29B390;
    box-sizing: border-box;
    border-radius: 5px;
    width: 151px;
    height: 40px;
    transition: all 0.3s;
    background-color: transparent;
}
.gestor_blog_guardar:hover{
    width: 156px;
    transition: all 0.3s;
    text-decoration: none;
}
.gestor_blog_mostrar_imagen{
    width: 80%;
    height: 300px;
    border: 1.5px solid #909090;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Nunito";
    font-style: bold;
    font-weight: 600;
    color: #909090;
    font-size: 18px;
}
.preview_imagen_imagen{
    display: none;
    width: 100%;
}

.preview_imagen_blog{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen_actual{
    width: 100%;
    display: block;
}
.botones_blog_100{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top:35px;
    margin-bottom: 20px;
}
.botones_blog_derecha{
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------PARA LA PÁGINA PRINCIPAL---------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------- */
.all_blogs_item{
    width: 253px;
    height: 296px;
    margin: 20px;
    font-family: "Karla";
}
.all_blogs_item_imagen{
    width: 100%;
    height: 175px;
}
.all_blogs_item h1{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #1D2120;
    margin-top: 14px;
    margin-bottom: 0px;
}
.all_blogs_item h2{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: rgba(29, 33, 32, 0.81);
    margin-top: 0px;
    margin-bottom: 0px;    
}
.all_blogs_item_imagen img{
    width: 100%;
    height: 100%;
}
.all_blogs_contenido{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}
.all_blogs_item_boton{
    width: 100%;
    height: 38px;
    display: flex;
    align-items: center;
    border: 1px solid #1D2120;
    box-sizing: border-box;
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #1D2120;
    margin-top: 7px;
    transition: all 0.3s;
}
.icono_small_blogs{
    color: #828282;
    font-size: 13px;
}
.all_blogs_mueve{
    margin-left: 85px;
}
.all_blogs_100{
    width: 95%;
    margin-bottom: 20px;
    margin-top: 20px;
}
.all_blogs_100 a{
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-decoration-line: underline;
    color: #BA1F00;
}
.all_blogs_derecha{
    width: 100%;
    margin-top: 20px;
    display: flex;
}
.all_blogs_paginacion{
    display: flex;
    margin-left: auto;
    margin-right: 5%;
}
.all_blogs_item_boton:hover{
    text-decoration: none;
    height: 43px;
    transition: all 0.3s;
}


.all_blogs_menu_busqueda{
    width: 95%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.all_blogs_busqueda{
    display: flex;
    align-items: center;
    width: 192px;
    height: 23px;
}
.all_blogs_input_busqueda{
    margin: 0px;
    border: none;
    border-bottom: 0.4px solid #29B390; 
    border-radius: 0px;
    background-color: transparent;
}
.all_blogs_search_busqueda{
    background-color: transparent;
    border: none;
    border-bottom:0.4px solid #29B390;
}
.all_blogs_80{
    width: 100%;
    display: flex;
    justify-content: center;
}
.all_blogs_90{
    width: 100%;
    display: flex;
    justify-content: left; 
}
@media (max-width:1150px){
    .all_blogs_contenido{
        justify-content: space-around;
        transition: all 0.3s;
    }
}
@media (max-width:857px){
    .all_blogs_contenido{
        justify-content: center;
    }
    .all_blogs_item{
        width: 350px;
        height: 343px;
        margin: 20px;
        transition: all 0.3s;
    }
    .all_blogs_item_imagen{
        height: 200px;
    }
    .all_blogs_item h1{
        font-size: 20px;
    }
    .all_blogs_item h2{
        font-size: 20px;   
    }
    .all_blogs_item_boton{
        height: 48px;
        margin-top: 18px;
        font-size: 18px;
        transition: all 0.3s;
    }
    .icono_small_blogs{
        color: #828282;
        font-size: 15px;
        transition: all 0.3s;
    }
    .all_blogs_mueve{
        margin-left: 125px;
        transition: all 0.3s;
    }
    .all_blogs_item_boton:hover{
        height: 53px;
        transition: all 0.3s;
    }
}
@media (max-width:470px){
    .all_blogs_item{
        width: 100%;
        height: 363px;
        margin:20px 0px 20px 0px;
        transition: all 0.3s;
    }
    .all_blogs_item_imagen{
        height: 220px;
    }
    .all_blogs_item_boton{
        font-size: 18px;
        justify-content: center;
        transition: all 0.3s;
    }
    .all_blogs_mueve{
        margin-left: 0px;
        transition: all 0.3s;
    }
}
@media (max-width:370px){
    .all_blogs_item{
        height: 323px;
        margin:20px 0px 20px 0px;
    }
    .all_blogs_item_imagen{
        height: 180px;
    }
    .all_blogs_item_boton{
        font-size: 16px;
        justify-content: center;
        transition: all 0.3s;
    }
    .icono_small_blogs{
        font-size: 13px;
    }
}