#div_contenido{
    background-color: #f2ECD5 ;
     display:flex ;
     flex-direction:column;
     justify-content:center;
     width:100%;
     align-items:center;
     padding:10px;
}
.detailsAutor_content::-webkit-scrollbar{
    display: none;
}
.details_autor::-webkit-scrollbar{
    display:  none;
}
.details_libro::-webkit-scrollbar{
    display: none;
}
.details_blog::-webkit-scrollbar{
    display:none;
}

#carruselLibros:hover{
    width: 95%;  
}
#carruselLibrosHide:hover{
    width: 95%;
}

#carruselAutores:hover{
    width: 95%;
}
#carruselAutoresHide:hover{
    width: 95%;
}

#carruselBlogs:hover{
    width: 95%; 
}

.img_carrusel{
    height: 400px;
}
.title_index{
    width: 270px; line-height: 49px; margin:10px; text-align:left; margin-right: auto; margin-left: 5%;
}
.text_title{
    font-family: Karla; font-style: normal; font-weight: normal; font-size: 36px; color: #1D2120;
}
.cajaBannerLibros{
    width: 90%;
    height: 358px;
    left: 21px; 
    top: 780px; 
    border: 1px solid #303030; 
    box-sizing: border-box; 
    margin:30px; 
    margin-bottom:75px;
    display:flex;
    justify-content:space-around;
}

.cajaBannerLibrosHide{
    width: 90%;
    height: 352px;
    left: 21px; 
    top: 780px; 
    border: 1px solid #303030; 
    box-sizing: border-box; 
    margin:30px; 
    margin-bottom:75px;
    display:none;
    justify-content:space-around;

}
#carruselLibros{
   background:transparent;
   width: 90%
}
#carruselLibrosHide{
   display:none; 
   background: transparent;
   width: 90%;
}   


#carrusel_indic{
    width:10px; height:10px; border-radius:100%;
}
.slider_footer{
    position: relative;
    width: 1294px;
    height: 25px;
    top: 356px;
}
.details_libro{
    width: 100%;
    height: 152px;
    background: #BA1F00;
    border: 1px solid #BA1F00;
    box-sizing: border-box; padding-bottom:5px; padding-left:2.5%; padding-right:2.5%; padding-top:5px;
    display:none;
}
.details_content{
    width: 458px; height: 129px; margin-left:5%; margin-right:5%; margin-top:20px;
}
.details_tags{
    color: white;
    font-family: "Karla";
    font-size: 18px;
    font: lighter;
    font-style: oblique;
}
.details_txt{
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF; margin-bottom:10px
}
.details_data{
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}
.btn_details{
    width: 10%;
    height: 30%;
    margin-top:40px;
    padding-top:10px;
    padding-left: auto;
    padding-right: auto;
    background: transparent;
    border: 1px solid #FFFFFF;
    color:white;
    cursor: pointer;
    cursor: hand;
}
.pestana_details{
    background: #BA1F00; width:8%; height:8%; padding-left:3px; padding-bottom:5px; margin-left:auto; 
    margin-right: auto;
    cursor:pointer; cursor: hand;
}
.cajaBannerAutores{
    width: 90%;
    height: 352px;
    left: 21px;
    top: 780px;
    border: 1px solid #303030;
    box-sizing: border-box;
    margin:30px;
    margin-bottom:75px;
    display: flex;
    justify-content: space-around;
}
.cajaBannerAutoresHide{
    width: 90%;
    height: 352px;
    left: 21px;
    top: 780px;
    border: 1px solid #303030;
    box-sizing: border-box;
    margin:30px;
    margin-bottom:75px;
    display:none;
}
#carruselAutores{
    width: 90%; 
    background: transparent;
}
#carruselAutoresHide{
    width: 90%;
    background: transparent;
    display:none;
}
#carruselBlogs{
    width:90%;
    background: transparent;
}
.details_autor{
    width: 100%;
    height: 152px;
    background: #29B390;
    border: 1px solid #29b390;
    box-sizing: border-box; padding-bottom:5px; padding-left:10px; padding-right:10px; padding-top:5px;
    display:none;
}
.details_blog{
    width: 100%;
    height: 50px;
    background: #717171;
    box-sizing: border-box; padding-bottom:5px; padding-left:10px; padding-right:10px; padding-top:5px;
    display:none;
}
.pestana_details_autor{
    background: #29b390; width:8%; height:8%; margin-left:auto; padding-left: 3px;scroll-padding-right: 3px; padding-bottom: 5px;
    margin-right: auto;
    cursor:pointer; cursor: hand;
}
.pestana_details_blog{
    background: #717171; width:8%; height:8%; margin-left:auto; padding-left: 3px;scroll-padding-right: 3px; padding-bottom: 5px;
    margin-right: auto;
    cursor:pointer; cursor: hand;
}
.pestana_txt{
    text-align: center; font-family: Abril Fatface; color:white
}
.pestana_txt_autor{
    text-align: center; font-family: Abril Fatface; color:white
}
.detailsAutor_content{
    width: 439px; height: 130px; margin-left:10px; margin-right:10px; margin-top:10px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    display:flex;
    flex-direction: row;
}
.detailsAutor_txt{
    display: flex;
    flex-direction: column;
}
.img_libro_aut{
    position: relative;
    top: -1px;
    left: -1px;
    width: 98px; 
    height:132px; margin-right:10px; 
}
.btn_details_autor{
    width: 155px;
    height: 40px;
    margin-top: 75px;
    margin-right: 10px;
    margin-left: 10px;
    padding:10px;
    background:transparent;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    cursor: hand;
}

.countdown__module{
    width: 50%;
}
.flechasPosicion{
    height: 356px;
}
.mesita{
    width:35%; top:400px; margin-left:0px; position:absolute;
}
.mesita_escondida{
    display:none;
}
.banner_blog_fecha{
    width: 100%;
    text-align: right;
    color: white;
    font-size: 24px;
    margin: auto;
    font-family: "Karla";
}
.banner_blog_titulo{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 26px;
    margin: auto;
    margin-bottom:40px;
    font-family: "Karla";
}
.banner_blog_contenido{
    width: 60%;
    color: white;
    font-family: "Karla";
    font-size: 24px;
    text-align:center;
    margin-bottom: 20px;
}

.div_width_100{
    width: 100%;
    display: flex;
    justify-content: center;
}

.banner_blog_boton{
    background-color: white;
    color: black;
    font-size: 18px;
    width: 15%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#clocki{
    width: 50%;
}
#viledruid{
    font-size:px  !important;
}
.btn_txt{
    text-align:center; font-family: Karla;
    font-style: normal;
    font-weight:normal;
    font-size: 18px;
    line-height: 21px;
    color:white;
}
.btn_txt2{
    text-align:center; font-family: Karla;
    font-style: normal;
    font-weight:normal;
    font-size: 18px;
    line-height: 21px;
    color:white;
}
@media (max-width: 1420px){
    .btn_details{
        width: 20%;
        height: 30%;
    }
}
@media (max-width: 1380px){
    .mesita{
        display:none;
    }
    .mesita_escondida{
        display:flex;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
    }
    .btn_details{
        width: 25%;
        height: 30%;
    }
}


@media (max-width: 1200px){
    .row{
        display:flex; justify-content:center
    }
    .btn_details{
        width: 30%;
        height: 23%;
        padding-top: 5px;
    }
    .banner_blog_titulo{
        font-size: 22px;
    }
    .banner_blog_contenido{
        font-size: 20px;
        }
    
    .banner_blog_boton{
        font-size: 14px;
    }
}

@media(max-width: 950px){
    .img_carrusel{
        height: 304px;
    }
    .flechasPosicion{
        height: 304px;
    }
    .cajaBannerAutores{
        height: 300px;
    }
    .banner_blog_titulo{
        font-size: 18px;
    }
    .banner_blog_contenido{
        font-size: 16px;
        }
    
    .banner_blog_boton{
        font-size: 10px;
        height: 30px;
    }
}
@media(max-width: 750px){
    .img_carrusel{
        height: 204px;
    }
    .flechasPosicion{
        height: 204px;
    }
    .cajaBannerAutores{
        height: 200px;
    }
    .banner_blog_titulo{
        font-size: 26px;
    }
    .banner_blog_contenido{
        display:none;
        }
    
    .banner_blog_boton{
        font-size: 10px;
        height: 30px;
    }
}

@media (max-width: 780px){
   
    .btn_details{
        width: 35%;
    }
    .btn_txt{
        font-size: 13px;
    }
}

@media (max-width: 768px){
  
    .pestana_details{
        width: 9%;
        height: 7%;
    }
    .pestana_details_autor{
        
        width: 9%;
        height: 7%;
    }
    .pestana_details_blog{
        width: 9%;
        height: 7%;
    }
}
@media (max-width: 768px){
    #viledruid{
        font-size:18px  !important;
    }
    #clocki{
        width:100%
    }
    
}

@media (max-width: 700px){
    .details_txt{
        font-size: 12px;
    }
    .details_data{
        font-size:12px;
    }
    .pestana_details{
        width: 8%;
        height: 6%;
    }
    .pestana_details_autor{
        
        width: 8%;
        height: 6%;
    }
    .pestana_details_blog{
        width: 8%;
        height: 6%;
    }
    .btn_txt{
        font-size: 10px;
    }
    .banner_blog_boton{
        font-size: 8px;
        height: 20px;
    }
    .details_tags{
        font-size: 15px;
    }     
}

@media (max-width: 600px){
  
    #details_content2{
        display:none;
    }
    .btn_details{
        width: 30%;
        height: 23%;
        padding-top: 5px;
        margin-left: auto;
        margin-right: auto;
    }
  
    .pestana_details{
        width: 12%;
        height: 5%;
    }
    .pestana_details_autor{    
        width: 12%;
        height: 5%;
    }
    .pestana_details_blog{
        width: 12%;
        height: 5%;
    }

    .details_tags{
        font-size: 12px;
    }
}


@media (max-width: 550px){
    #carruselLibros{
        display: none;
    }
    .img_carrusel{
         height: 357px;
     }
     .flechasPosicion{
        height: 357px;
    }
     #carruselLibrosHide{
        display:flex;
     }    
     .cajaBannerAutores{
         display:none;
     }
     .cajaBannerAutoresHide{
         display:flex;
         height:352px;
     }
     #carruselAutores{
         display:none;
     }
     #carruselAutoresHide{
        display:flex;
       
     } 
     .banner_blog_contenido{
         font-size: 12px;
         display:flex;
     } 
     .banner_blog_boton{
        font-size: 12px;
        height: 23px;
        width: 33%;
    }
    #portada_libro{
        display:none;
    }

}
    
@media (max-width: 500px){
    .btn_details{
        width: 50%;
        height: 23%;
        padding-top: 5px;
        margin-left: auto;
        margin-right: auto;
    }
    .details_tags{
        font-size: 10px;
    }
}

@media (max-width:400px){
    .pestana_details{
        width: 15%;
        height: 4%;
    }
    .pestana_details_autor{
        
        width: 15%;
        height: 4%;
    }
    .pestana_details_blog{
        width: 15%;
        height: 4%;
    }
    .banner_blog_contenido{
        font-size: 10px;
        display:flex;
    } 
    .banner_blog_boton{
       font-size: 10px;
       height: 23px;
       width: 35%;
   }

}
