.libro-tabla{
    width: 90%;
    max-width: 1440px;
    margin: auto;
    display: table;
    margin-top: 30px;
}

.libro-tabla .libro-cell{
    width: fit-content;
    vertical-align: top;
}

.libro-cell-head{
    display: table-cell;
}

.libro-cell-middle{
    display: table-cell;
}

.libro-cell-footer{
    display: table-cell;
}

.libro-cell-md{
    width: 25% !important;
}

.libro-cell-lg{
    width: 50% !important;
}

.libro-fotos{
    width: fit-content;
    height: fit-content;
    margin-right: 0px;
    margin-left: auto;
}

.libro-fotos img{
    width: 288px;
    height: 306px;
}

#imagen-seleccionada{
	margin-top: 10px;
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
}

.libro-info{
    width: 100%;
    height: fit-content;
}

.libro-info p{
    width: 100%;
    padding-right: 29px;
    padding-left: 29px;
    text-align: justify;

    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
    margin-bottom: 14px;
}

.libro-info p b{
    font-style: italic;
}

.libro-info .leer-mas{
    color: #29B390;
    text-decoration: underline;
    background-color: transparent;
    padding: 0px;
    border: 0px;
    outline: none;
}

.libro-comprar{
    width: 100%;
    max-width: 360px;
    height: fit-content;
    border: 1px solid #29B390;
    box-sizing: border-box;
    border-radius: 5px;
}

.libro-comprar .comprar{
    width: 80%;
    margin: auto;
    text-align: center;
}

.libro-comprar .formato p{
    display: flex;
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */


    color: rgba(29, 33, 32, 0.81);

    width: fit-content;
    margin: auto;
}

.libro-comprar .comprar .precio{
    display: flex;
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */


    color: rgba(29, 33, 32, 0.81);

    padding-top: 7px;
    width: fit-content;
    margin: auto;
}

.libro-comprar .comprar .oferta{
    text-decoration: line-through;
    color: #BA1F00;
    margin:0px;
    margin-right: 10px;
}

.libro-comprar .ahorro{
    width: 100%;
}

.libro-comprar .ahorro p{
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #1D2120;

    margin-top: 7px;
}

.libro-comprar .disponibilidad{
    width: 100%;
}

.libro-comprar .disponibilidad p{
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    margin-top: 12px;
    margin-bottom: 12px;
}

.libro-comprar .mensaje{
    width: 100%;
    margin-bottom: 20px;
}

.libro-comprar .mensaje p,
.libro-comprar .mensaje a{
    font-family: Karla;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

.libro-comprar .mensaje p{
    color: #1D2120;
    font-weight: normal;
}

.libro-comprar .mensaje a{
    color: #29B390;
    font-weight: bold;
}

.libro-comprar .carrito-button {
    width: 226px;
    background-color: transparent;
    margin-bottom: 12px;

    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    color: rgba(29, 33, 32, 0.85);

    padding-top: 9px;
    padding-bottom: 9px;

    border: 1px solid #1D2120;
    box-sizing: border-box;
    border-radius: 5px;

    outline: none;
    transition-duration: .1s, .1s;
    -webkit-transition-timing-function: ease-out, cubic-bezier(.82, .1, .14, 1.12);
    transition-timing-function: ease-out, cubic-bezier(.82, .1, .14, 1.12);
}

.libro-comprar .carrito-button img{
    transform: scaleX(-1);
    width: 21px;
    height: 19px;
}

.libro-comprar .comprar-button {
    width: 226px;
    background-color: transparent;
    margin-bottom: 22px;

    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    color: rgba(255, 255, 255, 0.85);

    padding-top: 9px;
    padding-bottom: 9px;
    
    background: #1D2120;
    border-radius: 5px;
    border: 1px solid #1D2120;
    box-sizing: border-box;

    outline: none;
    transition-duration: .1s, .1s;
    -webkit-transition-timing-function: ease-out, cubic-bezier(.82, .1, .14, 1.12);
    transition-timing-function: ease-out, cubic-bezier(.82, .1, .14, 1.12);
}

.shrink:hover
{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.95);
    transition-duration: .1s, .1s;
    -webkit-transition-timing-function: ease-out, cubic-bezier(.82, .1, .14, 1.12);
    transition-timing-function: ease-out, cubic-bezier(.82, .1, .14, 1.12);
}

#more  {
    display:  none;
    -webkit-animation: slide-down 1s ease-out;
    -moz-animation: slide-down 1s ease-out;
}

@-webkit-keyframes slide-down {
      0% { opacity: 0; -webkit-transform: translateY(-100%); }   
    100% { opacity: 1; -webkit-transform: translateY(0); }
}
@-moz-keyframes slide-down {
      0% { opacity: 0; -moz-transform: translateY(-100%); }   
    100% { opacity: 1; -moz-transform: translateY(0); }
}

.owl-carousel{
    width: 235px !important;
    margin-left: 26.5px;
    margin-right: 26.5px;
    margin-top: 11px;
}

.owl-prev {
    width: 15px;
    height: 100px;
    position: absolute;
    top: -8px;
    margin-left: -32.5px;
    display: block !important;
    border:0px solid black;
}

.owl-prev:focus,
.owl-next:focus{
    outline: none;
}

.owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled {
    display: block !important;
}

.owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: -8px;
    right: -26px;
    display: block !important;
    border:0px solid black;
}
.owl-prev i, .owl-next i { 
    color: rgba(0, 0, 0, 0.466);
    width: 26px;
    height: 26px;
}

.libro-fotos .imagen-carrusel{
    width: 75px;
    height: 80px;
}

.libro-fotos .imagen-carrusel img{
    width: 75px;
    height: 80px;
}

.hr-tienda{
    width: 90%;
    max-width: 1169px;
    border-top: 0.3px solid #1D2120;
}

.libro-info-res{
    text-align: justify;
}

.libro-regresar{
    width: 90%;
    max-width: 1169px;
    margin: auto;
    align-items: flex-end;
}

.libro-regresar .boton{
    width: fit-content;
    margin-right: 0px;
    margin-left: auto;
}

.libro-regresar .boton button{
    width: fit-content;
    margin-right: auto;
    margin-left: auto;

    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    /* identical to box height */


    color: #1D2120;

    outline: none;
    background-color: transparent;
    border: 0px;
}

.libro-regresar .boton button .row img{
    transform: matrix(-1, 0, 0, 1, 0, 0);
    width: 39px;
    height: 25px;
}

.libro-regresar .row{
    width: fit-content;
}

@media(max-width: 1200px){
    .libro-cell-head{
        display: table-header-group;
    }
    
    .libro-cell-middle{
        display: table-row;
    }
    
    .libro-cell-footer{
        display: table-footer-group;
    }
    .libro-cell-md{
        width: 100% !important;
    }
    
    .libro-cell-lg{
        width: 100% !important;
    }
    .libro-fotos{
        margin-right: auto;
        margin-left: auto;
    }
    .libro-comprar{
        margin:auto;
        margin-top: 10px;
    }
    .libro-info-res{
        text-align: center !important;
    }
    .libro-info .leer-mas{
        padding-left: 29px;
    }
    .libro-info {
        padding-top: 29px;
    }
}

@media(max-width: 520px){
    .libro-info-res{
        text-align: justify !important;
    }
}