.txt-descripApartado{
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-align: center;        
    font-size: 20px;
    line-height: 23px;
    color: #1D2120;
    
}
.OPbusqueda_clasificacion{
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-align: center;        
    font-size: 14px;
    line-height: 23px;
    color: rgba(29, 33, 32, 0.63);
}

.div_ContenedorAutores{
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    
}
.div_autoresTotal{
    width: 305px;
    height: 231px;
    background: #1D2120;
    text-align: center;
    margin-bottom: 4%;
}
.div_autoresTotal:hover{
    cursor: pointer;
}
.txt_nombreAutor{
    font-family: 'Karla';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    height: 20%;
    padding: 4%;
}
.img_autoresGral{
    width: 100%; 
    height:80%;
    display: flex;
}
.hover_autores_item_imagen{
    transition: all 0.3s !important;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(29, 33, 32, 0.64);
}
.img_autoresGral:hover .hover_autores_item_imagen {
    transition: all 0.3s !important;
    cursor: pointer;
    display: flex;
}
.leer_mas_boton_autores{
    transition: all 0.3s !important;
    color: white;
    font-family: 'Karla';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 38px;
    padding: auto;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    text-decoration: none;
}
.leer_mas_boton_autores a{
    color: white !important;
    text-emphasis: none;
    text-decoration: none;
    text-transform: none;
}
.leer_mas_boton_autores:hover{
    width: 55%;
    transition: all 0.3s !important;
}
/* -------------------------AUTOR------------------------------ */
.div_contenidoAutor{
    margin-top: 55px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.div_imagenAutor{
    width: 25%;
    display: flex;
    flex-direction: column;
}
.div_apartadoimgAutor{
    width: 100%;
    height: 300px;
}
.div_marcoimgAutor{
    border: solid 1px #1D2120;
    width: 90%;
    height: 90%;
}
.imagenAutor{
    width: 95%;
    height: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    position: relative;
    top: -92%;
}
.div_fechaNacAutor{
    width: 100%;
    height: 40px;
    text-align: center;
    font-family: 'Karla';
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    padding-top: 2%;
    color: #29B390;
}
.div_infoAutor{
    width: 75%;
    font-family: 'Karla';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: justify;
    line-height: 21px;
    color: #1D2120;
    margin-left: 20px;
    align-items: center;
    display: flex;
}

/* OBRAS */
.txt_obrasAutor{
    font-family: 'Karla';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #1D2120;
    text-align: center;
    margin-top: 10px;
    vertical-align: middle;
}

/* CAROUSEEEEL---- */
.MultiCarousel { 
    float: left; 
    overflow: hidden; 
    padding: 15px; 
    width: 90%; 
    position:relative; 
    margin-left: auto;
    margin-right: auto;
}
.MultiCarousel .MultiCarousel-inner { 
    transition: 1s ease all; 
    float: left; 
}
.MultiCarousel .MultiCarousel-inner .item { 
    float: left;
}
.pad15{ 
    width: 100%;
    text-align: center; 
    height: 90%;
    margin:10px; 
    background-color: #1d2120;
    display: flex;
}
.MultiCarousel .leftLst, .MultiCarousel .rightLst { 
    position:absolute; 
    border-radius:50%;
    top:calc(50% - 20px); 
    background:rgba(255, 255, 255, 0.8); 
    border-color: none;
}
.MultiCarousel .leftLst { 
    left:0px; 
}
.MultiCarousel .rightLst { 
    right:0; 
}
.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { 
    pointer-events: none; 
    background:white; 
    border:none;
}
.leftLst:enabled{
    border: none;
    text-emphasis: none;
    text-transform: none;
}
.item{
    display: flex;
}
.div_portadapad15{
    width: 32%;
    height: 170px;
}
.div_portadapad15 img{
    background-size: cover; 
    width:100%;
    height: 100%;
}
.div_infoCarrusel{
    width: 63%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}
.txt-infoCarrusel{
    font-family: 'Karla';
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-align: left;
    margin-left: 5%;
}





/* ------------------------RESPONSIVE-------------------- */
@media(max-width: 1030px){
    .div_autoresTotal{
        width: 250px;
        height: 180px;
    }
    .txt_nombreAutor{
        font-size: 16px;
    }
}
 @media(max-width: 950px){
    .div_infoAutor{
        font-size: 16px;
    }
    .div_fechaNacAutor{
        font-size: 16px;
    }
    .div_apartadoimgAutor{
        height: 200px;
    }
    .txt_obrasAutor{
        font-size: 22px;
    }
 }

 @media(max-width: 850px){
    .div_autoresTotal{
        width: 220px;
        height: 160px;
    }
    .txt_nombreAutor{
        font-size: 14px;
    }
}
@media(max-width: 650px){
    .div_infoAutor{
        font-size: 14px;
    }
    .div_fechaNacAutor{
        font-size: 14px;
    }
    .div_apartadoimgAutor{
        height: 150px;
    }
    .txt_obrasAutor{
        font-size: 20px;
    }
}
@media(max-width: 600px){
    .div_imagenAutor{
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 0px;
    }
    .div_infoAutor{
        width: 100%;
        margin-left: 0px;
    }
    .div_contenidoAutor{
        display: block;
    }
    .div_contenidoAutor{
        margin-top: 30px;
    }
}

@media(max-width: 490px){
    .div_autoresTotal{
        width: 85%;
        height: 231px;
    }
} 