/*
	Copywrite Square Bracket LLC - Sean Clark 2012-3012
	http://square-bracket.com 	
	http://connect.ai	
	http://youtube.com/optikalefxx
*/
.tags-wrapper {
	background:transparent;
	overflow:hidden;
	border: none;
	border-bottom: 0.4px solid #909090;
    width: 100%;
    margin-left: 5px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #717171;
    margin-top: -25px;
    width: 100%;
}
.tags-wrapper:focus{
	border-bottom: 0.4px solid #29b390;
}
.tags-wrapper ul {
	margin:0px;
	padding:0px;
}
.tags-wrapper li {
	float:left;
}
.tags-wrapper li.tag {
	font-family:"Nunito";
	font-size:14px;
	/* border-radius:3px; */
	list-style: none;
	border-radius: 10px;
	color: #ffffff;
	background-color: #29b390;
	line-height: 13px;
	height: 18px;
	padding: 1px 3px 3px 5px;
	margin: 0px 0 3px 5px;
}
.centrar_texto_blog{
	margin-top: auto;
	margin-bottom: auto;
}
.tags-wrapper li a {
	text-decoration:none;
	color:white;
	padding:2px;
	display:inline-block;
	margin-left:6px;
}
.tags-wrapper li a:hover {
	color:rgb(95, 95, 95);
}
.tags-wrapper input {
	display:none;
}
.tags-wrapper li.tags-input {
	white-space: nowrap;
	margin: 0;
	padding: 0;
}
.tags-wrapper li input {
	display:block;
	background:transparent;
	outline:none;
	border:none;
	font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #717171;
}
.tags-wrapper .autofill-bg {
	position:relative;
	top:4px;
}