.producto-tienda{
    position: relative;
    width: 228px;
    height: 354px;
    margin:auto;
    margin-top: 59px;
}

.producto-tienda .imagen{
    width: 228px;
    height: 228px;
    cursor: pointer;
}

.producto-tienda .imagen img{
    width: 100%;
    height: 100%;
}

.producto-tienda .info-libro{
    position: absolute;
    top: 0px;
    width: 228px;
    height: 228px;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.658); /* Black background with 0.5 opacity */
    text-align: center;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.producto-tienda .info-libro .info{
    width: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.producto-tienda .info-libro .info h1{
    font-family: Karla;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    color: #f1f1f1;
}

.producto-tienda .info-libro .info h1 b{
    font-family: Karla;
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    color: #ffe65b;
}

.producto-tienda .info-libro .info p{
    font-family: Karla;
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    color: #f1f1f1;

    margin-bottom: 10px;
}

.producto-tienda .img-oferta{
    position: absolute;
    top: 0px;
    right: -35px;
}

.producto-tienda .img-oferta img{
    width: 53px;
    height: 53px;
}

.producto-tienda .titulo{
    height: 41.6px;
}

.producto-tienda .titulo p{
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */


    color: #1D2120;
}

.producto-tienda .contenido-producto{
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
    align-items: center;
}

.producto-tienda .precio{
    display: flex;
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */


    color: rgba(29, 33, 32, 0.81);
}

.producto-tienda .oferta{
    text-decoration: line-through;
    color: #BA1F00;
    margin:0px;
    margin-right: 10px;
}

.producto-tienda .contenido-producto img{
    width: 29px;
    height: 29px;
}

.producto-tienda button{
    width: 100%;
    background-color: transparent;
    margin-top: 11px;

    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    color: rgba(29, 33, 32, 0.85);

    padding-top: 9px;
    padding-bottom: 9px;

    border: 1px solid #1D2120;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    transition-duration: .1s, .1s;
    -webkit-transition-timing-function: ease-out, cubic-bezier(.82, .1, .14, 1.12);
    transition-timing-function: ease-out, cubic-bezier(.82, .1, .14, 1.12);
}

.producto-tienda button img{
    transform: scaleX(-1);
    width: 21px;
    height: 19px;
}

.shrink:hover
{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.95);
    transition-duration: .1s, .1s;
    -webkit-transition-timing-function: ease-out, cubic-bezier(.82, .1, .14, 1.12);
    transition-timing-function: ease-out, cubic-bezier(.82, .1, .14, 1.12);
}

.carrusel-tienda{
    width: 100% !important;
    margin-bottom: 33px;
}

.carrusel-tienda:hover{
    width: 100% !important;
}

.non-selectable {
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
 }
 .tooltip.show {
    opacity: 1 !important;
}

 .tooltip > .tooltip-inner {
    max-width: 300px !important;
    text-align: left !important;
    background-color: white !important;
    color: black !important;
    opacity: 1 !important;
    filter: alpha(opacity=100);
}

.tooltip > .arrow::before {
    border-top-color: white !important;
}

.paginate-tienda{
    width: 100%;
    margin-top: 18px;
}

.pagination > li > a,
.pagination > li > span {
    color: #4E5251;
    background-color: transparent !important;
    border: 0.5px solid #29B390;
    border-radius: 0px !important;
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    color: #ffffff !important;
    background-color: #29B390 !important;
    border: 0.5px solid #29B390 !important;
    border-radius: 0px !important;
}

.pagination .disabled span{
    border-color: #29b3915b !important;
}

.pagination a:hover{
    color: #ffffff !important;
    background-color: #29b39198 !important;
    border: 0.5px solid #29B390 !important;
    border-radius: 0px !important;
}

.pagination .disabled span{
    color: #29b3915b !important;
}


.prev-tienda{
    font-family: sans-serif !important;
    color: #29B390 !important;
}

.hr-tienda{
    width: 90%;
    max-width: 1169px;
    border-top: 0.3px solid #1D2120;
}